body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-image: url("./assets/Background.jpeg");
  background-color: #F8D07B;
  background-repeat: no-repeat; 
  background-size: cover;
  

}
@media only screen and (max-width: 668px) {
 body {
   background-image: none;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.card {
  width: 140px;
  height: 220px;

}
.card:not(:nth-child(6n)) {
  margin-right: 5px;
}

.c {
  position: absolute;
  max-width: 120px;
  max-height: 160px;
  width: 50ch;
  height: 50ch;
  cursor: pointer;
  will-change: transform, opacity;
  border-radius: 10%;
}

.front,
.back {
  background-size: cover;
  background-image: url("./assets/Back.jpeg");
}

.card:hover {
    animation: shake 1s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


  
  
  
  
  /* Let's style the wrapper in such away that, 
  it should always be at the center of the browser */
  .wrapper {
    position: relative;
    left: 50%;
    transform: translate(-30%, -50%);
    width: 300px;
  }
  
  /* Style the Un-order list by setting its list-style to none */
  .wrapper ul {
    list-style: none;
    margin:0;
  }
  
  /* Style the list items inside the UL list, by setting its width, height and line-height 
    and float them to left and set its border and border-radius.
   */
  .wrapper ul li {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid white;
    float: left;
    transition: all 0.5s ease;
  }
  
  /* Style the icons by setting its color and margin-top value to 20px 
  to align it properly */
  .wrapper ul li .fa {
    color: white;
    margin-top: 5px;
    transition: all 0.5s ease;
  }
  
  /* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
    to icons for glowing effect and use transition property for smooth transition effect. */
  /*facebook*/
  .wrapper ul li:hover.facebook {
    border: 5px solid #3b5998;
    box-shadow: 0 0 15px #3b5998;
    transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover .fa-facebook {
    color: #3b5998;
    text-shadow: 0 0 15px #3b5998;
    transition: all 0.5s ease;
  }
  
  /*twitter*/
  .wrapper ul li:hover.twitter {
    border: 5px solid #00aced;
    box-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover .fa-twitter {
    color: #00aced;
    text-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease;
  }
  
  /* instagram */
  .wrapper ul li:hover.instagram {
    border: 5px solid #bc2a8d;
    box-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover .fa-instagram {
    color: #bc2a8d;
    text-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
  }
    
  
  /* media queries */
  
  @media screen and (max-width: 640px){
    .wrapper {
        width: 350px;
    }
    .wrapper ul li{
        margin-top: 10px;
    }
    .wrapper ul li.google{
        margin-left: 60px;
    }
  }
  
  
  @media screen and (max-width: 340px){
    .wrapper {
        width: 150px;
    }
    .wrapper ul li{
        margin:15px;
    }
    .wrapper ul li.google{
        margin-left: 15px;
    }
  }
/* Books styling */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .container {
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 30px;
    margin:20px;
    padding-top: 45px;
    
  }

  .container .box {
    position: relative;
    width: 180px;
    height: 300px;
    margin: 40px;
    
  }
  
  .container .box  .imgBx {
    position: absolute;
    top:0;
    left:0;
    border-radius: 5px;
    width:100%;
    height:100%;
    transition: 0.5s ease-out;
    z-index: 2;
  }

  .container .box:hover  .imgBx {
  
    transform: translate(-20px, -45px);
  }

  .container .box  .imgBx img {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 5px;
  }

  .container .box  .content {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgb(242,242,242);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    transition: 0.5s ease-out;
    border-radius: 5px;
  }

  .container .box:hover  .content {
  
    transform: translate(20px, 45px);
  }

  .container .box  .content h2{
    font-size: 13px;
    color: #111;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
  }

  .container .box  .content h2 span {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 2px;
  }

  @media (max-width:768px){

    .container .box:hover .content {
  
      transform: translate(0, 35px);
    }

    .container .box:hover .imgBx {
  
      transform: translate(0, -35px);
    }

  }